.Nav_Bar{
    margin-top: 6vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
}
.container {
    display: flex;
    flex-direction: row;
    height: 97vh;
    width: 98vw;
    justify-content: space-between;
}

.left_container{
    width: 21vw;
    height: 55vh;
    background-color: #FFD230;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.left_container img{
    margin-top: 20vh;
    margin-left: 5vw;
    width: calc(20vw + 10vh);
}
.right_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
}
.hobbies_container{
    margin-left: 54%;
    width: 50%;
    height: 40%;
    background-color: #FFD230;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5)
}
.About{
    margin-bottom: 15%;
}
.hobbies_container img{
    width: calc(19vw + 7vh);
    margin-top: 7vh;
    margin-left: -12.5vw;
}
.alma-matter{
    margin-left: 22vw;
    width: 165%;
    margin-top: -15%;
}

.alma-matter ul li{
    list-style: disc;
    line-height: 3.5;
    font-size: calc(0.8vw + 0.8vh);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.hobbies_section{
    margin-left: -60%;
    margin-top: 20%;
}

.hobbies_section ul li{
    list-style:disc;
    line-height: 3;
    font-size: calc(0.6vw + 0.8vh);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.alma-matter ul p{
    font-size: calc(0.8vw + 0.6vh);
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.5;
}
.whitebox{
    width: 31%;
    margin-left: 28%;
    margin-top: 5%;
    height: 2vw;
    background-color: white;
    border-radius: 4px;
}
.w2{
    width: 25%;
    margin-left: 13%;
    margin-top: 3%;
    height: 1.5vw;
    background-color: white;
    border-radius: 4px;
}
.line{
    right: 40.5%;
    position: absolute;
    border-left: 0.3vw solid #FFD230;
    height: 45%;
    bottom: 8%;
}
