.Nav_Bar{
    margin-left: 50%;
    margin-top: 4%;
}
.container{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    align-items: center;
    margin-top: 7%;
    background-color: #FFD230;
    width: 30%;
    height: 15%;
    margin-left: 38%;
}
.head img{
    width: 150%;
    margin-left: -25%;
}
.right_container{
    width: 57%;
    margin-left: 48%;
    margin-top: 3%;
}
.projects{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50%;
    justify-content: center;
}
.Skills{
    width: 25vw;
    height: 20vh;
    background-color: #FFD230;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.Skill_img{
    margin-top: 6vh;
}
.Skill_img img{
    width: calc(30vw + 10vh);
}
.Skills_section {
    margin-top: 15%;
    width: 101%;
    margin-left: 96%;
}

.Skills_section img{
    width: calc(3.5vw + 1vh);
    margin: 7% 10% 7% 15%;

}

.Skills_section ul li{
    list-style: disc;
    line-height: 4;
    font-size: calc(0.7vw + 0.8vh);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.Skills_section ul p{
    font-size: calc(0.8vw + 0.6vh);
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.5;
}
.parent{
    height: 50vh;
}
.score{
    width: 14vw;
    height: calc(1vw + 0vh);
    background-color: #D8D6D6;
}
.Rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line{
    height: calc(1vw + 0vh);
    background-color: #FFD230;
    width: 10vw;
}
.stars{
    display: flex;
    flex-direction: row;
    margin-left: 45%;
    font-size: 1.4vw;
    margin-top: 15%;
    width: 55%;
    justify-content: space-between;
}
.c{
    width: 14vw;
}
.cpp{
    width: 14vw;
}
.java{
    width: 11vw;
}
.js{
    width: 9vw;
}
.html{
    width: 14vw;
}
.css{
    width: 12vw;
}
.bootstrap{
    width: 10vw;
}
.Skills2{
    width: 14vw;
    height: 200%;
    background-color: #FFD230;
    margin-top: 7%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.Skills_container{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}
.side{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.parent {
    height: 50vh;
    overflow: auto;
    width: 130%;
}
.Concepts{
    width: 24%;
    font-size: calc(1vw + 0.5vh);
    font-family: 'Barlow Condensed', sans-serif;
    list-style: none;
    position: absolute;
    right: 10%;
    top: 45%;
    line-height: 2;
}
.Concepts li{
    font-weight: bold;
}
.linev{
    right: 40.5%;
    position: absolute;
    border-left: 0.3vw solid #FFD230;
    height: 50%;
    top: 34%;
}
.p{
    margin-left: 25%;
}
footer{
    margin-top: -1.5%;
}