
/* HOME */

#Home{
    width: 100vw;
    height: 97vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Name{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 6%;
}

.hey,.azeem{
    display: flex;
    z-index: 2;
    transform: translateY(-10vh);
    font-size: 4em;
}
.azeem{
    transform: translateY(-14vh);
}
.doin{
    margin:1px;
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
}
.am{
    margin-top: 2%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
    font-family: 'Montserrat Alternates', sans-serif;
}


/* SOCIAL SECTION */

.socialSection{
    background-color: whitesmoke;
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-size: calc(1.5vw + 1vh);
    position: absolute;
    left: 0%;
    bottom: 6%;
    box-shadow: 0px 2px 10px 1px #7a7373;
}
.socialSection a{
    margin: 2.5vh 1vw;
    color: black;
    text-decoration: none;
}
.socialSection a:hover{
    transition: 0.3s ease-in;
    color: #f6d334;
    transform: translatey(-5%);
}




/* CONTACT */
.contactMe{
    border-radius: 5px;
    cursor: pointer;
    width: 14em;
    height: 8vh;
    background-color: #f6d334;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 0;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 30px;
    font-size: 0.8em;
    box-shadow: 0px 1px 5px 1px rgb(55, 55, 55);
}
.contactMe:hover{
    transition: 0.5s ease-out!important;
    transform: translatey(-10px);
    box-shadow: 0px 1px 5px 0px white;
    background-color: #272727;
    color: #f6d334;
}



/* MEDIA QUEIRIES FOR WHOLE PAGE */


/* MEDIA QUEIRIES FOR MIDDLE-CONTAINER */

@media (max-width:500px) {
}

@media (max-width:450px) {
    .hey,.azeem{
        font-size: 3.5em!important;
    }
    .side img{
        width: 30px!important;
    }
    
}
@media (max-width:390px) {
    .hey,.azeem{
        font-size: 2.6em!important;
    }
    .am p{
        font-size: 0.7em;
    }

    
}
@media (max-width:700px) {
    .azeem{
        display: flex;
        font-size: 4em;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bolder;
    }
}


/* MEDIA QUERIES FOR CONTACT BUTTON */

@media (max-width:900px) {
    .contactMe{
        height: 7vh;
        width: 20vw;
        font-size: calc(0.5vw + 1vh);
    }
    
}

@media (max-width:540px) {
    .contactMe{
        width: 15em;
        height: 5vh;
        font-size: calc(0.5vw + 0.8vh);
    }
}

@media (max-width:350px) {
    .contactMe{
        font-size: calc(0.2vw + 0.8vh);
    }
}

/* MEDIA-QUERIES FOR SOCIAL MEDIA SECTION */

@media (max-width:950px) {
    .socialSection {
        width: 100vw;
        background-color: transparent;
        flex-direction: row;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 0px 0px white;
    }
    .socialSection a{
        font-size: 1.2em;
    }
    .Name{
        align-items: normal;
        margin-top: 0%;
    }
    .am{
        text-align: justify;
    }
    .contactMe{
        margin: 0px;
        margin-top: 5%;
    }
}
