@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');
*{
    margin: 0px;
}

body {
    background-color: #eefcfd;
}
.Nav_Bar{
    margin-left: 5vw;
    margin-top: 5vh;
}

nav li {
    display: block;
    text-decoration: none;
    color: #000;
    list-style-type: none;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: calc(0.7vw + 0.7vh);
    margin: 1vh 4vw 3vh 1vw;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 6vw;
    height: 3vh;
    text-align: center;
    transition: 0.8s;
}

nav ul li:hover {
    background-color: #FFD230;
    color: #000;
    animation-name: navBar;
    animation-duration: 0.2s;
}

@keyframes navBar {

    0% {
        height: 0vh;
    }

    25% {
        height: 0.75;
    }

    50% {
        height: 1.5vh;
    }

    75% {
        height: 2.35;
    }

    100% {
        height: 3vh;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left_container{
    width: 21vw;
    height: 55vh;
    background-color: #FFD230;
}
.left_container img{
    margin-top: 20vh;
    margin-left: 5vw;
    width: calc(20vw + 10vh);
}
.right_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hobbies_container{
    margin-left: 60.5%;
    width: 39.5%;
    height: 40%;
    background-color: #FFD230;
}
.About{
    margin-bottom: 10.5vh;
}
.hobbies_container img{
    width: calc(19vw + 7vh);
    margin-top: 7vh;
    margin-left: -12.5vw;
}
.alma-matter{
    margin-left:22vw;
    width: 165%;
    margin-top: 15%;
}

.alma-matter ul li{
    list-style: disc;
    line-height: 3.5;
    font-size: calc(0.8vw + 0.8vh);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.hobbies_section{
    margin-left: -71%;
    margin-top: 40%;
}

.hobbies_section ul li{
    list-style:disc;
    line-height: 3.5;
    font-size: calc(0.6vw + 0.8vh);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.alma-matter ul p{
    font-size: calc(0.8vw + 0.6vh);
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.5;
}