/* ABOUT PAGE CSS */

#NavBar {
    backdrop-filter: blur(10px);
}

#AboutMe {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.a1 h1 {
    margin: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: -2.7px;
}

.a2 {
    width: 40em;
    position: relative;
    margin-top: 1.5em;
}

.a2 p {
    line-height: 2;
    font-family: 'Poppins', sans-serif;
    color: #121212;
    opacity: .85;
    margin: 15px;
    text-align: justify;
}

.a1 {
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #facf0f;
    margin: 15px;
    border-radius: 2px;
    padding: 0em 1em;
}

.myImage {
    position: relative;
    margin-top: 3%;
}

.myImage img {
    width: 17em;
    border-radius: 2px;
    object-fit: contain;
    transition: 0.3s ease;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.blur-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loaded-image {
    opacity: 1 !important;
    transition: opacity 200ms linear !important;
}

.unload-blur-image {
    background-image: unset !important;
}

.frame {
    width: 100%;
    height: 110%;
    position: absolute;
    left: -15%;
    top: -5%;
    margin-bottom: 5px;
    border: 10px solid black;
    z-index: -1;
}

.about2 {
    width: 100vw;
    height: 50vh;
    background-color: red;
}

.aboutSocial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    margin: 2em 13px 0em;
}

.aboutSocial a img {
    width: 1.5em;
}






@media (max-width:700px) {
    #AboutMe {
        justify-content: initial;
    }

    .a1 {
        width: 65vw;
        margin-top: 10%;
    }

    .a2 {
        width: 25em;
        font-size: 0.6em;
        line-height: 1.7;
    }

    .aboutMe {
        flex-direction: column;
        margin-bottom: 10vw;
    }

    .myImage {
        margin-top: 10em;
    }

    #AboutMe {
        overflow: scroll;
    }

    .myImage img {
        width: 50vw;
    }

    .frame {
        width: 50vw;
        top: -5%;
        left: -12%;
        border: 7px solid black;
    }

    .descriptionSection {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8em;
    }

    .aboutSocial a img {
        width: 1em;
    }

    .aboutSocial {
        margin: 2em 10px 0em;
    }

    .a2 {
        width: 90vw;
        font-size: 0.8em;
    }
}

@media (max-width:500px) {
    .myImage {
        margin-top: 7em;
    }

}