<section id="NavBar">
    <span class="logoContainer">
        <a href="/"><img src="Images/Logo.png" alt="A"></a>
    </span>
    <div class="minNavigation">
        <ul>
            <li class="nav HomePage"><a href="/">HOME</a></li>
            <li class="nav ProjectPage"><a href="projects">PROJECTS</a></li>
            <li class="nav SkillsPage"><a href="skills">EXPERTISE</a></li>
            <li class="nav AboutPage"><a href="about">ABOUT ME</a></li>
        </ul>
    </div>
    <div class="hamBurger hb">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="hamBurgerClose hb displayNone">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="borderBottom">
        <div class="fillBottom">

        </div>
    </div>
</section>