<div class="socialSection">
    <a href="https://www.instagram.com/azeem.shaik.16906/" target="_blank"><img src="../Images/instagram.png"
            alt="Instagram"></a>
    <a href="https://github.com/Azeem-0" target="_blank"><img src="../Images/Github.png" alt="Github"></a>
    <a href="https://www.linkedin.com/in/azeemshaik025/" target="_blank"><img src="../Images/linkedin.png"
            alt="Linkedin"></a>
    <a href="mailto:azeemshaik025@gmail.com" target="_blank"><img src="../Images/email.png" alt="Email"></a>
</div>